html,body{
    margin:0;
    padding:0;
}


#boxmodel {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 35vh 65vh;
    height: 100vh;
    overflow-x: hidden;
}

#logoo {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}
    
#logo {
    width: 195px;
    margin-top: 35%;
    margin-left: 33%;
}


@font-face {
    src: url(../fonts/IHateComicSans.ttf);
    font-family: ihatecomicsans;  
  }
  
  #aboutme {
      background-image: url(../images/text_background_yellow.png);
      background-repeat: no-repeat;
      padding-top: 10px;
      background-size: 110px;
      background-position:center;
      padding-top: 5px;
  }
  
  #illustrations {
      background-image: url(../images/text_background_purple.png);
      background-repeat: no-repeat;
      padding-top: 10px;
      background-size: 125px;
      background-position:center;
  }
  
  #animations {
      background-image: url(../images/text_background_blue.png);
      background-repeat: no-repeat;
      padding-top: 10px;
      background-size: 100px;
      background-position:center;
  }
  
  #characterdesign {
      background-image: url(../images/text_background_pink.png);
      background-repeat: no-repeat;
      padding-top: 13px;
      background-size: 140px;
      background-position:center;
  }
  
  #comics {
      background-image: url(../images/text_background_green.png);
      background-repeat: no-repeat;
      padding-top: 15px;
      background-size: 70px;
      background-position:center;
      padding-top: 5px;
  }
  
  .subheaderlinks a {
      text-decoration: none; color: black;
      font-family: ihatecomicsans;
      font-size: 22px;
      text-align: center;
      line-height: 40px;
      
  }
  
  .subheaderlinks {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
      padding-top: 80px;
  }


  /* ---illustrations below--- */

  /* .row {
      display: flex;
      flex-wrap: wrap;
      padding-top: 50px;
  }

  .column {
      flex: 100%;
      max-width: 100%;
      margin-right: 20px;
      overflow-x: hidden;
  }

  .column img {
      vertical-align: middle;
      width: 100%;
  }

  .row2 {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
  }

  .column2 {
    flex: 100%;
    max-width: 100%;
    margin-right: 20px;
    overflow-x: hidden;
  }

  .column2 img {
    vertical-align: middle;
    width: 100%;
}

.row3 {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
  }

  .column3 {
    flex: 100%;
    max-width: 100%;
    margin-right: 20px;
    overflow-x: hidden;
  }

  .column3 img {
    vertical-align: middle;
    width: 100%;
} */




/* haikyuu */
.one {
    margin-top: 60px;
    margin-left: 30px;
}

/* happiness aka kajemac */
.two {
    margin-top: 60px;
}

/* The little traveler */
.three {
    margin-top: 60px;
    margin-left: 20px;
}

/* space traveler */
.four {
    margin-top: 370px;
    margin-left: 30px;
}

/* sugarrush */
/* .five {
    margin-top: 5px;
} */

.six {
    margin-top: 335px;
    margin-left: 20px;
}



#myImg, #myImg2, #myImg3, #myImg4, #myImg5, #myImg6 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover, #myImg2:hover, #myImg3:hover, #myImg4:hover, #myImg5:hover, #myImg6:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 80px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: hsla(338, 83%, 95%, 0.9); /* Pink w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
    max-height: 800px;
    object-fit: contain;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f38ec6;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
    }