#logoo {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}
    
#logo {
    width: 195px;
    margin-top: 35%;
    margin-left: 20%;
}

#insertillustration {
    display: grid;
    grid-template-columns: repeat (6, 1fr);
    grid-template-rows: 40% 40% 20%;
    height: 95vh;
}

@font-face {
  src: url(../fonts/IHateComicSans.ttf);
  font-family: ihatecomicsans;  
}

#aboutme {
    background-image: url(../images/text_background_yellow.png);
    background-repeat: no-repeat;
    padding-top: 10px;
    background-size: 120px;
}

#illustrations {
    background-image: url(../images/text_background_purple.png);
    background-repeat: no-repeat;
    padding-top: 10px;
    background-size: 120px;
}

#animations {
    background-image: url(../images/text_background_blue.png);
    background-repeat: no-repeat;
    padding-top: 10px;
    background-size: 120px;
}

#characterdesign {
    background-image: url(../images/text_background_pink.png);
    background-repeat: no-repeat;
    padding-top: 13px;
    background-size: 160px;
}

#comics {
    background-image: url(../images/text_background_green.png);
    background-repeat: no-repeat;
    padding-top: 15px;
    background-size: 80px;
}

.subheaderlinks a {
    text-decoration: none; color: black;
    margin: bottom;
    font-family: ihatecomicsans;
    font-size: 22px;
    text-align: center;
}

.subheaderlinks {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    margin-left: 15%;
}

#about {
    background-image: url(../images/rectangles_template_png.png);
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    margin-top: 30%;
}

#illus {
    background-image: url(../images/rectangles_template_png.png);
    background-repeat: no-repeat;
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
    margin-top: 30%;
}

#anim {
    background-image: url(../images/rectangles_template_png.png);
    background-repeat: no-repeat;
    grid-column: 4 / span 1;
    grid-row: 1 / span 2;
    margin-top: 30%;
}

#charac {
    background-image: url(../images/rectangles_template_png.png);
    background-repeat: no-repeat;
    grid-column: 5 / span 1;
    grid-row: 1 / span 2;
    margin-top: 30%;
}

#comi {
    background-image: url(../images/rectangles_template_png.png);
    background-repeat: no-repeat;
    grid-column: 6 / span 1;
    grid-row: 1 / span 2;
    margin-top: 30%;
}

#socialmedia {
    background-image: url(../images/social_media_background.png);
    background-repeat: no-repeat;
    font-family: ihatecomicsans;
    background-size: contain;
    height: 100px;
    width: auto;
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    margin-left: 60px;
    margin-top: 65px;
}